.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}

.hero-text p {
    font-size: 18px;
    font-weight: 300;
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.5;
}

/* responsive */

@media (max-width: 840px) {
    .hero-text h1 {
        font-size: 50px;
    }
}

@media (max-width: 710px) {
    .hero-text h1 {
        font-size: 45px;
    }

    .hero-text p {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 17px;
        max-width: 400px;
    }
}