.title {
    text-align: center;
    margin: 70px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212ea0;
}

.title h2 {
    font-size: 35px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
}