nav {
    width: 100%;
    /* background-color: #333; */
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    width: 180px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    color: #fff;
    margin: 5px 20px;
    list-style: none;
    font-size: 16px;
}

.dark-nav {
    background-color: #212ea0;
    transition: 0.5s;
}

.menu-icon {
    display: none;
}

@media (max-width: 1000px) {
    nav ul li {
        margin: 5px 10px;
    }

    .logo {
        width: 120px;
    }
}

@media (max-width: 840px) {
    nav ul {
        width: 200px;
        padding-top: 70px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #212ea0;
        transition: 0.5s;
        z-index: -1;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 30px 10px;
    }

    .menu-icon {
        display: block;
        padding-top: 5px;
        width: 25px;
        cursor: pointer;
    }

    .hideMenu {
        right: -200px;
    }
}