.footer {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
}

.footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    padding: 15px 0;
    cursor: pointer;
}

/* media query */
@media (max-width: 650px) {
    .footer {
        margin: 10px auto;
        flex-direction: column;
    }

    .footer ul li {
        display: block;
        margin-left: 0;
        padding: 5px 0;
    }
}