.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.next-btn,
.back-btn {
    width: 50px;
    background-color: #212ea0;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    cursor: pointer;
}

.next-btn {
    top: 50%;
    right: 0;
    transform: translate(-50%);
}

.back-btn {
    top: 50%;
    left: 0;
    transform: translate(50%);
}



.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
    /* transform: translateX(-25%); */
}

.slider ul li {
    list-style-type: none;
    width: 50%;
    padding: 20px;
}

.slide {
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;

}

.slide img {
    width: 65px;
    border-radius: 50%;
    border: 4px solid #212ea0;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.user-info h3 {
    color: #212ea0;
}