.programs {
    width: 90%;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program {
    flex-basis: 31%;
    cursor: pointer;
    position: relative;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 15, 152, 0.3);
    color: #fff;
    font-size: 20px;
    padding-top: 70%;
    opacity: 0;
    transition: .4s;

}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption {
    padding-top: 0;
    opacity: 1;
}